 .containerA {
    padding-top: 40px;
    margin: 50px auto;
    position: absolute;
    background-color: #f0f0f0; 
    padding: 10px; 
}
input{
    width: 340px;
    height: 40px;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
} 


textarea {
    width: 340px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
} 

button {
    background-color: #f8c291;
    color: #fff;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
} 
.containerAbout{
    padding-top: 40px;
}

/* footer {
    background-color: #f8c291;
    padding: 10px;
    text-align: center;
    /* position: fixed; */
    /* bottom: 0;
    width: 100%;
} */ */


.container2 {
    padding-top: 40px;
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    display: flex;
    flex-direction: column;
}

/* Container styles */
.container2 {
    padding-top: 40px;
    display: flex;
    justify-content: space-around; /* Adjust alignment as needed */
    max-width: 1000px; /* Adjust as needed */
    margin: auto;
}

/* Offer styles */
.offer {
    width: 30%; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.offer img {
    width: 100%;
    border-radius: 5px;
}

.offer h2 {
    margin-top: 10px;
    font-size: 20px;
}

.offer p {
    margin-top: 10px;
}




.example-img{
   
    left: 20px; 
    width: 500px;
    height: 700px;
}

.menu{
    padding-top: 10px;
}

.form{
    width: 500px;
    height: 400px;
    text-align: center;
    align-items: center;
    margin: auto;
    border-style: groove;
    margin-top: 20px;
}

.login{
    padding-top: 40px;
}
