nav{
    width:100%;
    height:50px;
    position: fixed;
}
 ul li{
   
    display: inline;
    flex-direction: inline;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(46, 42, 42);
  }

.about{
    /* width: 900px; */
    padding: 50px;
    height: 900px;
    justify-content: center;
}

.containerA {
    /* padding-top: 40px; */
    margin: 50px auto;
    position: absolute;
    background-color: #f0f0f0; 
    padding: 10px; 
    border-style: groove;
}
input{
    width: 340px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}
label {
    display: block;
    margin: 5px ;
} 

button {
    background-color: #f8c291;
    color: #fff;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
} 

.container2 {
    padding-top: 40px;
    max-width: 1000px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    display: flex;
    flex-direction: row;
}

/* Offer styles */
.offer {
    width: 30%; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.offer img {
    width: 100%;
    border-radius: 5px;
}

.offer h2 {
    margin-top: 10px;
    font-size: 20px;
}

.offer p {
    margin-top: 10px;
}

.example-img{
   
    left: 20px; 
    width: 500px;
    height: 700px;
}

.menu{
    padding-top: 10px;
}

.login{
    padding-top: 40px;
}

.contact{
    margin: 50px auto;
    position: absolute;
    background-color: #f0f0f0; 
    padding: 10px; 
    border-style: groove;
    
}
